{% if not(title) %}
{% set title = "Lorem ipsum" %}
{% endif %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">

    <!-- build:css -->
    styles.css
    <!-- endbuild -->

</head>

<body>
<div id="overlay"></div>
<header>
  <div class="container header">
    <div class="header__wrapper">
      <div class="hamburger col-2">
        <span></span>
      </div>
      <nav class="nav nav__header">
        <div class="nav__logo">
          <a href="#">
            <img src="assets/img/icons/logo@1x.png" alt="logo" width="176" height="56">
          </a>
        </div>
        <div class="contacts">
          <a class="contacts__tel" href="tel:+393277590454">+ 39 (327) 759-04-54
            <span>
              <svg width="6" height="6" viewBox="0 0 6 6">
                <circle cx="3" cy="3" r="3" fill="#ffaabf" />
              </svg>
            </span>
            <span class="contacts__name">Alina</span>
          </a>
          <a class="contacts__tel" href="tel:+393801425566">+ 39 (380) 142-55-66
            <span>
              <svg width="6" height="6" viewBox="0 0 6 6">
                <circle cx="3" cy="3" r="3" fill="#ffaabf" />
              </svg>
            </span>
            <span class="contacts__name">Diana</span>
          </a>
        </div>
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Corsi</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Salone</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Prodotti</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Contatti</a>
          </li>
        </ul>
        <div class="header__search">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path
              d="M19.7556 18.5776L14.0682 12.8901C15.1699 11.5293 15.8332 9.80015 15.8332 7.91685C15.8332 3.55189 12.2815 0.000244141 7.91656 0.000244141C3.55161 0.000244141 0 3.55185 0 7.91681C0 12.2818 3.55165 15.8334 7.9166 15.8334C9.7999 15.8334 11.5291 15.1701 12.8899 14.0684L18.5773 19.7559C18.7398 19.9184 18.9531 20 19.1665 20C19.3798 20 19.5932 19.9184 19.7557 19.7559C20.0815 19.4301 20.0815 18.9034 19.7556 18.5776ZM7.9166 14.1667C4.46996 14.1667 1.66666 11.3635 1.66666 7.91681C1.66666 4.47016 4.46996 1.66687 7.9166 1.66687C11.3632 1.66687 14.1665 4.47016 14.1665 7.91681C14.1665 11.3635 11.3632 14.1667 7.9166 14.1667Z" />
          </svg>
        </div>
      </nav>
    </div>
  </div>
</header>