.button {
  display: inline-block;
  padding: rem(5px) rem(20px);

  min-width: rem(206px);

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  background-color: transparent;
  border: rem(2px) solid transparent;
}
.button__callback {
  position: relative;
  margin-left: rem(20px);

  @media(max-width: $width-md) {
    max-width: rem(115px);
    margin: 0 auto;
  }
}

.button__callback::after {
  position: absolute;
  content: "";
  // bottom: rem(12px);
  // left: 0;
  width: rem(30px);
  height: rem(1px);
  background-color: #ffaabf;

  display: none;
}

.button__callback:hover {
  padding-left: rem(60px);

  &::after {
    display: block;
    bottom: rem(20px);
    left: rem(10px);
    transition: ease-in-out 1.3s;
  }
}

.button__cursos {
  border: rem(2px) solid #2b2b2b;
}
.button__cursos:hover {
  color: $white;

  border-color: transparent;
  background: #ffaabf;
  // box-shadow: rem(2px) rem(2px) rem(15px) rgba($color: #2b2b2b, $alpha: 0.5);
  box-shadow: 0 rem(14px) rem(63px) rgba(193, 0, 48, 0.13),
  0 rem(6px) rem(26px) rgba(193, 0, 48, 0.1),
  0 rem(3px) rem(14px) rgba(193, 0, 48, 0.1),
  0 rem(2px) rem(8px) rgba(193, 0, 48, 0.09),
  0 rem(1px) rem(4px) rgba(193, 0, 48, 0.07),
  0 0 rem(2px) rgba(193, 0, 48, 0.05);
  ;
  transition: ease-in-out 0.3s;
}

.button__feedback {
  padding-left: rem(80px);
  padding-right: rem(80px);
}

.button__feedback,
.button__cursos--white {
  color: $white;

  border: rem(1.8px) solid $white;
  box-shadow: none;
}

.button__feedback:hover,
.button__cursos--white:hover {
  color: rgba($color: $white, $alpha: 0.7);

  border-color: $white;
  background-color: rgba($color: $white, $alpha: 0.1);
  box-shadow: none;
  transition: ease-in-out 0.3s;
}
.button__cursos--width {
  min-width: rem(206px);
}