.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  width: rem(482px);

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 500;
  font-size: rem(16px);
  letter-spacing: 0.02em;
   @media(max-width: $width-xl) {
     font-size: rem(14px);
   }

  @media(max-width: $width-md) {
    margin-bottom: rem(10px);
    margin-right: 0;
    width: 100%;
    flex-direction: column;
  }
@media(max-width: $width-sm) {
  justify-content: center;
}
}

.contacts__tel {
  display: inline-block;
  // margin-right: rem(27px);
}

.contacts__tel span {
  margin-left: rem(5px);
}

.contacts__name {
  color: #ffaabf;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts__tel:hover span,
.contacts__tel:hover {
  color: rgba($color: red, $alpha: 0.7);
}
.contacts--footer {
  align-items: center;
  margin-left: rem(77px);
  width: 100%;
  margin-right: 0;
@media(max-width: $width-xl) {
  margin-left: 0;
}

@media(max-width: $width-sm) {
  align-items: baseline;
}
}

.contacts--footer svg {
  margin-top: rem(-2px);
  margin-right: rem(5px);
  fill: #ffaabf;
}