.nav__header {
  justify-content: space-between;

  width: 100%;
@media(max-width: $width-xl) {
  justify-content: space-around;
  min-height: rem(110px);
}

@media(max-width: $width-md) {
  justify-content: center;
  }
}

.nav__logo {
  @media(max-width: $width-md) {
    margin-top: rem(-10px);
    margin-bottom: rem(10px);
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: rem(600px);

  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 500;
  font-size: rem(16px);
  letter-spacing: 0.02em;

  text-transform: uppercase;

  @media(max-width: $width-md) {
    position: fixed;
    z-index: 20;
    display: none;
    left: 0;
    right: 0;
    top: rem(65px);
    padding: 20px 0;

    max-width: none;
    width: auto;
    text-align: center;

    background-color: rgba($color: #ffaabf, $alpha: 0.45);
    box-shadow: rem(1px) rem(1px) rem(10px) rgba($color: #ffaabf, $alpha: 0.5);
    }
    }

    .nav__item {
      margin: 0 rem(16px);

  @media(max-width: $width-md) {
    margin: 0 0 rem(10px) 0;
  }
}
.nav__item--light {
  font-weight: 300;
}

.nav__list--footer {
  justify-content: flex-start;
  flex-wrap: wrap;

  max-width: none;
  width: 77.5%;

  @media(max-width: $width-xl) {
    justify-content: center;
  }

  @media(max-width: $width-md) {
    position: relative;
    display: flex;
    top: 0;
    
    background: none;
  }
}

.nav__item--footer {
  margin: 0 rem(30px);

  font-size: rem(18px);

  @media(max-width: $width-md) {
    margin: 0 rem(10px) rem(10px) rem(10px);
  }

  @media(max-width: $width-sm) {
    margin: rem(10px) 0;
    width: 100%;
  }
}

.nav__item--footer:first-child {
  margin-left: 0;
}