.social {
  display: flex;
  justify-content: space-around;
  width: 100%;
@media(max-width: $width-xl) {
  justify-content: center;
  margin-bottom: rem(20px);
}
}

.social__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 rem(8px);

  height: rem(40px);
  width: rem(40px);

  font-size: 0;
  fill: #2b2b2b;
  border: rem(1px) solid #ffaabf;
  border-radius: 50%;
@media(max-width: $width-xl) {
  margin: 0 rem(10px) rem(5px) rem(10px);
}
}

.social__item:hover {
  fill: #ffaabf;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}