.title__black,
.titles {
  margin: 0;

  font-family: "PlayfairDisplaySC", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: rem(78px);
  line-height: rem(90px);

  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: left;

  color: rgba(255, 170, 191, 0.7);

  @media(max-width: $width-xl) {
    text-align: center;
  }

  @media(max-width: $width-lg) {
    font-size: rem(68px);
    line-height: normal;
    text-align: center;
  }

  @media(max-width: $width-md) {
    font-size: rem(36px);
    text-align: center;
  }
}

.titles__subtitle {
  margin-bottom: rem(65px);

  color: #2b2b2b;
  font-family: "PlayfairDisplay", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: rem(72px);
  line-height: 120%;

  letter-spacing: 0.04em;
  text-transform: none;

  span {
    text-transform: uppercase;
  }

  @media(max-width: $width-lg) {
    margin-bottom: rem(35px);

    font-size: rem(68px);
  }

  @media(max-width: $width-md) {
    margin-bottom: rem(25px);

    font-size: rem(36px);
  }
}

.titles--reviews {
  margin-bottom: rem(53px);
@media(max-width: $width-xl) {
  margin-bottom: rem(30px);
}
}
.titles--advantage {
  line-height: 100%;
  margin-bottom: rem(26px);
}

.titles--advantage span {
  font-size: (72px);

  @media(max-width: $width-md) {
    font-size: rem(30px);
  }
}