.videobox {
  position: relative;
  display: flex;
  padding: rem(28px);
  align-items: center;
  justify-content: center;

  height: rem(424px);
  width: 100%;

  border: rem(2px) solid #ffaabf;
}

.videobox__youtube {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  background-image: url("../img/home/poster-advantage01.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.videobox-button {
  position: absolute;
  top: 47%;
  left: 40%;
  right: 50%;
  display: block;
  width: rem(60px);
  height: rem(60px);

  font-size: 0;
  background-image: url("../img/icons/videobutton-img.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  }

.videobox-button:hover {
  transform: rotate(360deg);
  transition: ease-in-out 0.8s;
}

.videobox-button:active,
.videobox-button:focus {
  outline: none;
}