.header {
  padding-top: rem(90px);
  margin-bottom: rem(105px);

  justify-content: space-between;
@media(max-width: $width-md) {
  padding-top: rem(30px);
  margin-bottom: rem(30px);
}
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__search {
  display: flex;
  align-items: center;
}

.header__search svg {
  fill: rgba($color: #ffaabf, $alpha: 0.7);
}

.header__search:hover svg {
  fill: rgba($color: red, $alpha: 0.7);
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
