// START intro
.intro__wrapper {
  justify-content: space-between;

  @media(max-width: $width-xl) {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

.intro__text {
  min-height: rem(620px);
  margin-bottom: rem(112px);

  background-image: url("../img/home/img-home-intro03@1x.png");
  background-position: right;
  background-repeat: no-repeat;

  @media(max-width: $width-xl) {
    margin-bottom: rem(20px);
    width: 100%;
    min-height: auto;
    background-position: top;
  }
}

.intro__img {
  text-align: center;
}

.intro__bg-img {
  object-fit: cover;

  box-shadow: rem(60px) rem(67px) #2b2b2b,
    rem(10px) rem(10px) rem(25px) rgba($color: #2b2b2b, $alpha: 0.5);

  @media(max-width: $width-md) {
    width: 100%;
    box-shadow: none;
  }
}

.intro__feedback {
  display: flex;
  margin-top: rem(80px);
}

// END intro

// START advantage
.advantage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: rem(297px);
}

.advantage__video {
  z-index: 5;
  width: 50%;

  color: #fff;
  background-color: #2b2b2b;
  box-shadow: rem(10px) rem(10px) rem(25px) rgba($color: #2b2b2b, $alpha: 0.5);
}
.advantage__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  margin-left: auto;
}

.advantage__colwrapper {
  padding: rem(107px) 20% rem(65px) rem(132px);
  background-color: #f2f2f2;
}

.advantage__colwrapper--white {
  background-color: transparent;
}

.advantage__coltop {
  max-width: rem(530px);
}

.advantage__colwrapper--black {
  padding: rem(125px) rem(83px) rem(81px) 20%;
  // max-width: rem(624px);

  background-color: transparent;
}

.advantage__list {
  display: flex;
  margin-bottom: rem(66px);

  font-size: rem(24px);
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.advantage__item {
  position: relative;
  margin-right: rem(97px);
}

.advantage__text {
  margin-bottom: rem(60px);
}

// END advantage
// START info
.info {
  margin-bottom: rem(97px);
  height: rem(611px);
  background-color: rgba($color: #ffaabf, $alpha: 0.1);
}

.info__wrapper {
  position: relative;
}

.info__list {
  position: absolute;
  top: rem(-165px);
  display: flex;
  justify-content: center;

  text-align: center;
}

.info__img {
  margin-bottom: rem(63px);
  width: auto;

  filter: brightness(0.7);

  background-size: contain;
  box-shadow: rem(10px) rem(10px) rem(25px) rgba($color: #2b2b2b, $alpha: 0.5);
}

.info__item {
  position: relative;

  margin-right: rem(25px);
}

.info__item:last-child {
  margin-right: 0;
}

.info__inner {
  position: absolute;
  top: rem(125px);
  padding: 0 rem(100px) 0 rem(100px);

  text-align: left;
}

.info__title {
  margin-bottom: 0;

  color: #ffaabf;
  font-family: "PlayfairDisplaySC", Arial, sans-serif;
  font-size: rem(50px);
}

.info__subtitle {
  margin-bottom: rem(83px);

  color: $white;
  font-family: "PlayfairDisplay", Arial, sans-serif;
  font-size: rem(46px);
  font-weight: 900;
}

.info__text {
  color: $white;
  font-family: "PlayfairDisplay",
    Arial,
    sans-serif;
  font-size: rem(17px);
  line-height: rem(32px);
}

// END info
// START salon
.salon {
  position: relative;
  display: flex;
  margin-bottom: rem(143px);
}

.salon__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: rem(110px);
  width: 50%;
  max-height: rem(600px);

  overflow: hidden;
}

.salon__content {
  margin-right: auto;
  width: 50%;
}

.salon__slide {
  margin: rem(6px) rem(15px);
}

.salon__img {
  margin: rem(10px);
}

.salon__img--shadow {
  box-shadow: rem(10px) rem(10px) rem(25px) rgba($color: #2b2b2b, $alpha: 0.2);
}

.salon__text {
  padding: rem(45px) 24% rem(55px) rem(73px);
  color: #fff;
  background-color: #2b2b2b;
  box-shadow: 0 0 rem(25px) rgba($color: #2b2b2b, $alpha: 0.8);
}

.salon__textblock {
  margin-bottom: rem(40px);
}

.salon__title {
  color: rgba(255, 170, 191, 0.7);
  font-family: "PlayfairDisplaySC", Arial, sans-serif;
  font-size: rem(70px);
  font-style: normal;
  font-weight: 400;
  line-height: rem(84px);
  letter-spacing: 0.04em;
  text-align: left;
}

.salon__subtitle {
  margin-bottom: rem(30px);

  font-family: "PlayfairDisplay", Arial, sans-serif;
  font-size: rem(64px);
  font-weight: 700;
  line-height: rem(80px);
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
}

// END salon

//-- START slick
.slick-prev,
.slick-next {
  padding: rem(3px) rem(15px);
  position: absolute;
  content: "";
  left: 47%;

  font-size: 0;
  border: none;
  background-color: transparent;
  fill: #d3c1ad;

  border: 1px solid transparent;
}

.slick-next {
  bottom: rem(60px);
}

.slick-prev {
  bottom: rem(110px);
}

.slick-prev:hover,
.slick-next:hover {
  border: 1px solid #d3c1ad;
  transition: ease-in-out 0.3s;
}

.slick-prev:focus,
.slick-next:focus,
.slick-prev:active,
.slick-next:active {
  outline: none;
}

//-- END slick
// START reviews
.reviews__wrapper {
  margin-bottom: rem(190px);
}

.reviews__subtitle {
  font-weight: 400;
  font-size: rem(24px);
  line-height: 120%;
  text-transform: uppercase;
}

.reviews__text {
  background-image: url("../img/home/img-bg-reviews@1x.png");
  background-position-x: center;
  background-repeat: no-repeat;
}

.reviews__textblock {
  margin-bottom: rem(45px);
}

.reviews__video {
  width: 45%;
  padding-left: 154px;
  overflow: hidden;
}

.reviews__slider {
  // display: flex;
  height: 100%;
  // min-width: rem(652px);
}

.reviews__slide {
  display: block;
  height: rem(366px);
  width: auto;
}

// END reviews

// START feedback
.feedback {
  padding: rem(90px) 0 rem(85px) 0;
  margin-bottom: rem(74px);

  background-color: #2b2b2b;
  background-image: url("../img/home/img-bg-feedback01@1x.png"),
    url("../img/home/img-bg-feedback02@1x.png");
  background-repeat: no-repeat;
  background-position: 2% bottom, 98% top;
  box-shadow: 0 rem(15px) rem(25px) rgba($color: #2b2b2b, $alpha: 0.8);

  @media(max-width: $width-xl) {
    background-position: -30% bottom,
      120% top;
  }

  @media(max-width: $width-md) {
    background-image: none;
  }
}

.feedback__wrapper {
  text-align: center;
}

.feedback__title {
  color: rgba($color: #ffaabf, $alpha: 0.7);
  font-family: "PlayfairDisplaySC",
    Arial,
    sans-serif;
  font-size: rem(74px);
  font-weight: 400;
  line-height: rem(80px);
  letter-spacing: 0.04em;
}

.feedback__subtitle {
  margin-bottom: rem(55px);

  color: $white;
  font-family: "PlayfairDisplay", Arial, sans-serif;
  font-style: normal;
  font-size: rem(74px);
  font-weight: 700;
  line-height: rem(80px);
  letter-spacing: 0.04em;
}

.feedback__form {
  max-width: rem(800px);
  margin: 0 auto;
}

.feedback__form input[placeholder] {
  padding: rem(30px) 0 rem(25px) 0;

  background: transparent;
  text-align: center;
}

.feedback__form input::placeholder {
  color: $white;
}

.feedback__form input {
  margin-bottom: rem(10px);
  width: 100%;
}

.feedback__form input:focus,
.feedback__form input:active,
.feedback__form input {
  color: $white;
  text-align: left;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}

.feedback__row {
  display: flex;
  justify-content: space-between;
}

.feedback__row input {
  width: 45%;
}

.feedback__form input[type="checkbox"] {
  display: none;
}

.feedback__agreement {
  position: relative;
  padding-left: rem(70px);
  margin-top: rem(40px);
  margin-bottom: rem(45px);

  max-width: rem(480px);
  color: $white;
  line-height: rem(30px);
}

.feedback__link {
  color: rgba($color: #ffaabf, $alpha: 0.7);
}

.feedback__link:hover {
  color: rgba($color: #ffaabf, $alpha: 1.0);
}

.feedback__agreement:hover {
  cursor: pointer;
}

.feedback__agreement::before {
  content: "";
  position: absolute;
  top: rem(6px);
  left: 0;
  height: rem(18px);
  width: rem(18px);

  background-color: transparent;
  border: rem(1.2px) solid rgba($color: $white, $alpha: 1.0);
}

.feedback__form input[type="checkbox"]:checked+label::before {
  background-color: $white;
}

// END feedback