// START intro
.intro__wrapper {
  justify-content: space-between;

  @media(max-width: $width-xl) {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

.intro__text {
  width: 50%;
  min-height: rem(620px);
  margin-bottom: rem(112px);

  background-image: url("../img/home/img-home-intro03@1x.png");
  background-position: 110% bottom;
  background-repeat: no-repeat;

  @media(max-width: $width-xl) {
    margin-bottom: rem(20px);
    width: 100%;
    min-height: auto;
    background-position: top;
  }
}

.intro__description {
  max-width: rem(585px);
@media(max-width: $width-xl) {
  max-width: none;
  }
}

.intro__img {
  width: 50%;
  text-align: center;
  @media(max-width: $width-xl) {
    margin-bottom: rem(20px);
  }
}

.intro__bg-img {
  object-fit: contain;

  box-shadow: rem(60px) rem(67px) rem(3px) #2b2b2b,
    rem(10px) rem(10px) rem(25px) rgba($color: #2b2b2b, $alpha: 0.5);

  @media(max-width: $width-xl) {
    box-shadow: none;
  }

  @media(max-width: $width-md) {
    width: 100%;
    height: auto;
  }
}

.intro__feedback {
  display: flex;
  margin-top: rem(85px);

  @media(max-width: $width-xl) {
    justify-content: center;
    margin-top: rem(65px);
    margin-top: rem(35px);
  }

  @media(max-width: $width-md) {
    flex-direction: column;
  }
}

// END intro
// START advantage
.advantage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: rem(273px);
@media(max-width: $width-xl) {
  flex-direction: column;
  margin-bottom: rem(100px);
  }

  @media(max-width: $width-md) {
    margin-bottom: rem(35px);
  }
  }

.advantage__video {
  z-index: 5;
  width: 53%;

  color: #fff;
  background-color: #2b2b2b;
  box-shadow: rem(10px) rem(10px) rem(25px) rgba($color: #2b2b2b, $alpha: 0.5);
@media(max-width: $width-xl) {
  width: 100%;
  }
}

.advantage__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  margin-left: auto;
@media(max-width: $width-xl) {
  width: 100%;
  }
}

.advantage__colwrapper {
  padding: rem(107px) 20% rem(65px) rem(137px);
  background-color: #f2f2f2;
@media(max-width: $width-xl) {
  padding: rem(35px) rem(15px) rem(35px);
  }
}

.advantage__colwrapper--white {
  padding: rem(61px) 28.5% rem(65px) rem(71px);

  background-color: transparent;
@media(max-width: $width-xl) {
  padding: rem(35px) rem(15px) rem(35px);
  }
}

.advantage__discr {
  @media(max-width: $width-xl) {
    text-align: center;
  }
}

.advantage__coltop {
  max-width: rem(530px);
@media(max-width: $width-xl) {
  max-width: none;
  text-align: center;
  }
}

.advantage__colwrapper--black {
  padding: rem(141px) rem(92px) rem(80px) 27%;

  background-color: transparent;
@media(max-width: $width-xl) {
  padding: rem(95px) rem(15px) rem(35px);
  }
}

.advantage__list {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: rem(66px);

  font-size: rem(24px);
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
@media(max-width: 1565px) {
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  }

  @media(max-width: $width-md) {
    margin-bottom: 0;
  }
  }

.advantage__item {
  position: relative;
  padding-left: rem(30px);
  margin-right: rem(65px);
@media(max-width: 1565px) {
  margin-bottom: rem(60px);
  }

  @media(max-width: $width-md) {
    margin-right: rem(15px);
    font-size: rem(18px);
  }
  }

.advantage__list li::after {
  position: absolute;
  content: "";
  bottom: rem(12px);
  right: rem(-50px);
  width: rem(30px);
  height: rem(1px);
  background-color: #ffaabf;
@media(max-width: $width-md) {
  display: none;
  }
}

.advantage__list li::before {
  position: absolute;
  content: "";
  bottom: rem(3px);
  left: 0;
  width: rem(70px);
  height: rem(70px);
@media(max-width: $width-md) {
  transform: scale(0.8);
  }
}

.advantage__list li:nth-child(1)::before {
  background-image: url("../img/home/img-advantage01.png");
}

.advantage__list li:nth-child(2)::before {
  bottom: rem(5px);
  background-image: url("../img/home/img-advantage02.png");
}

.advantage__list li:nth-child(3)::before {
  background-image: url("../img/home/img-advantage03.png");
}

.advantage__text {
  margin-bottom: rem(70px);
  text-align: center;
@media(max-width: $width-md) {
  margin-bottom: rem(20px);
  }
}

.advantage__subtitle,
.advantage__titles {
  padding-left: rem(20px);
  margin-bottom: rem(75px);
  font-family: "PlayfairDisplaySC", Arial, sans-serif;
  font-weight: 700;
  font-size: rem(36px);
  line-height: 120%;
  letter-spacing: 0.04em;
  text-transform: lowercase;

  text-shadow: 0 rem(4px) rem(4px) rgba(0, 0, 0, 0.25),
    0 rem(4px) rem(4px) rgba(0, 0, 0, 0.25);
@media(max-width: $width-md) {
  font-size: rem(30px);
  line-height: 100%;
  margin-bottom: rem(30px);
  padding-left: 0;
  }
}

.advantage__titles--type1::first-letter {
  font-size: rem(52px);
  text-transform: uppercase;
@media(max-width: $width-md) {
  font-size: rem(30px);
  }
}
.advantage__subtitle {
  position: relative;
  display: inline-block;
  margin-bottom: rem(14px);

  font-family: "PlayfairDisplay",
    Arial,
    sans-serif;
  font-size: rem(24px);
  font-weight: 400;
  text-transform: uppercase;

  text-shadow: none;
}

.advantage__discr .advantage__subtitle {
  padding-left: 0;
}

.advantage__subtitle::after {
  position: absolute;
  content: "";
  bottom: rem(12px);
  right: rem(-50px);
  width: rem(30px);
  height: rem(1px);
  background-color: #ffaabf;
}

.advantage__form {
  text-align: center;
}

// END advantage
// START info
.info {
  margin-bottom: rem(76px);
  height: rem(611px);
  background-color: rgba($color: #ffaabf, $alpha: 0.1);
@media(max-width: $width-xl) {
  height: auto;
  margin-bottom: rem(35px);
  }
}

.info__wrapper {
  position: relative;
}

.info__list {
  position: absolute;
  top: rem(-165px);
  display: flex;
  justify-content: center;
  width: 100%;

  @media(max-width: $width-xl) {
    flex-wrap: wrap;
    position: relative;
    top: rem(-35px);
  }
}

.info__img {
  margin-bottom: rem(63px);
  width: auto;

  filter: brightness(0.7);

  background-size: contain;
  box-shadow: rem(10px) rem(10px) rem(25px) rgba($color: #2b2b2b, $alpha: 0.5);
@media(max-width: $width-xl) {
  width: 100%;
  object-fit: cover;
  }

  @media(max-width: $width-md) {
    margin-bottom: rem(25px);
    height: auto;
  }
  }

.info__item {
  position: relative;

  margin-right: rem(55px);
@media(max-width: $width-md) {
  margin-right: 0;
  }
}

.info__form {
  text-align: center;
}

.info__item .button__cursos {
  @media(max-width: $width-xl) {
    margin-bottom: rem(25px);
  }

  @media(max-width: $width-sm) {
    width: 100%;
  }
}

.info__item:last-child {
  margin-right: 0;
}

.info__inner {
  position: absolute;
  top: rem(125px);
  padding: 0 rem(75px);

  text-align: left;
@media(max-width: $width-md) {
  top: rem(60px);
  }

  @media(max-width: $width-sm) {
    top: 10%;
    padding: 0 rem(10px) rem(10px);

    text-align: center;
  }
  }

.info__title {
  margin-bottom: 0;

  color: #ffaabf;
  font-family: "PlayfairDisplaySC", Arial, sans-serif;
  font-size: rem(50px);
@media(max-width: $width-sm) {
  font-size: rem(32px);
  }
}

.info__subtitle {
  margin-bottom: rem(83px);

  color: $white;
  font-family: "PlayfairDisplay", Arial, sans-serif;
  font-size: rem(46px);
  font-weight: 900;
@media(max-width: $width-md) {
  margin-bottom: rem(30px);

  font-size: rem(28px);
  line-height: 100%;
  }
}

.info__text {
  color: $white;
  font-family: "PlayfairDisplay",
    Arial,
    sans-serif;
  font-size: rem(17px);
  line-height: rem(32px);
}

// END info
// START salon
.salon {
  position: relative;
  display: flex;
  margin-bottom: rem(143px);
@media(max-width: $width-xl) {
  flex-direction: column;
  margin-bottom: rem(80px);
  }

  @media(max-width: $width-sm) {
    margin-bottom: rem(35px);
  }
  }

.salon__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: rem(155px);
  width: 45%;
  max-height: rem(600px);

  overflow: hidden;
@media(max-width: $width-xl) {
  width: 100%;
  justify-content: center;
}
}

.salon__content {
  margin-right: auto;
  width: 50%;
@media(max-width: $width-xl) {
  width: 100%;
  justify-content: center;
}
}

.salon__slide {
  margin: rem(6px) rem(15px);
}

.salon__img {
  margin: rem(10px);
}

.salon__img--shadow {
  padding: rem(15px);

  background-color: $white;
  box-shadow: rem(10px) rem(10px) rem(25px) rgba($color: #2b2b2b, $alpha: 0.2);
}

.salon__text {
  padding: rem(60px) 27% rem(63px) rem(66px);
  color: #fff;
  background-color: #2b2b2b;
  box-shadow: 0 0 rem(25px) rgba($color: #2b2b2b, $alpha: 0.8);
@media(max-width: $width-xl) {
  padding: rem(40px) rem(15px);
  text-align: center;
}

@media(max-width: $width-sm) {
  padding: rem(20px) rem(10px);
}
}

.salon__textblock {
  margin-bottom: rem(40px);
@media(max-width: $width-xl) {
  margin-bottom: rem(35px);
}

@media(max-width: $width-sm) {
  margin-bottom: rem(15px);
}
}

.salon__title {
  color: rgba(255, 170, 191, 0.7);
  font-family: "PlayfairDisplaySC", Arial, sans-serif;
  font-size: rem(70px);
  font-style: normal;
  font-weight: 400;
  line-height: rem(84px);
  letter-spacing: 0.04em;
  text-align: left;
@media(max-width: $width-xl) {
  font-size: rem(62px);
  line-height: rem(62px);
  text-align: center;
}

@media(max-width: $width-sm) {
  font-size: rem(52px);
  line-height: rem(52px);
}
}

.salon__subtitle {
  margin-bottom: rem(30px);

  font-family: "PlayfairDisplay", Arial, sans-serif;
  font-size: rem(64px);
  font-weight: 700;
  line-height: rem(80px);
  letter-spacing: 0.04em;
  text-align: left;
  text-transform: uppercase;
@media(max-width: $width-xl) {
  font-size: rem(52px);
  line-height: rem(52px);
  text-align: center;
}

@media(max-width: $width-sm) {
  font-size: rem(42px);
  line-height: rem(42px);
}
}

// END salon

//-- START slick
.slick-prev,
.slick-next {
  padding: rem(3px) rem(15px);
  position: absolute;
  content: "";
  left: 44.5%;

  font-size: 0;
  border: none;
  background-color: transparent;
  fill: #d3c1ad;

  border: 1px solid transparent;
@media(max-width: $width-xl) {
  position: relative;
}
}

.slick-next {
  bottom: rem(50px);
@media(max-width: $width-xl) {
  transform: rotate(-90deg);
  bottom: rem(40px);
  left: 65%;
  height: rem(40px);
  width: rem(45px);
}
}

.slick-prev {
  bottom: rem(110px);
@media(max-width: $width-xl) {
  transform: rotate(-90deg);
  bottom: 0;
  left: 35%;
  height: rem(40px);
  width: rem(45px);
}
}

.slick-prev:hover,
.slick-next:hover {
  border: 1px solid #d3c1ad;
  transition: ease-in-out 0.3s;
}

.slick-prev:focus,
.slick-next:focus,
.slick-prev:active,
.slick-next:active {
  outline: none;
}

.slick-slide:not(.slick-active) {
  opacity: 0.3;
}

//-- END slick
// START reviews
.reviews__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: rem(100px);
@media(max-width: $width-xl) {
  flex-direction: column;
  margin-bottom: rem(50px);
}

@media(max-width: $width-sm) {
  margin-bottom: rem(30px);
}
}

.reviews__subtitle {
  font-weight: 400;
  font-size: rem(24px);
  line-height: 120%;
  text-transform: uppercase;
@media(max-width: $width-xl) {
  text-align: center;
}
}

.reviews__text {
  padding: rem(30px) 0 0 rem(7px);
  width: 50%;

  background-image: url("../img/home/img-bg-reviews@1x.png");
  background-position-x: center;
  background-repeat: no-repeat;
@media(max-width: $width-xl) {
  width: 100%;
}
}

.reviews__textblock {
  margin-bottom: rem(31px);
@media(max-width: $width-xl) {
  width: 100%;
  margin-bottom: rem(25px);
  text-align: center;
}
}

.reviews__video {
  position: relative;
  padding-bottom: rem(90px);
  width: 50%;
  overflow: hidden;
@media(max-width: $width-xl) {
  padding-bottom: rem(50px);
  width: 100%;
  text-align: center;
}
}

.reviews__video .slick-track {
  display: flex;
}

.reviews__slider {
  height: 99%;
  min-width: rem(652px);
  width: auto;

  border: rem(2px) solid #ffaabf;
@media(max-width: $width-xl) {
  min-width: auto;
}
}

.reviews__slide {
  position: relative;
  padding: rem(25px) 0;
@media(max-width: $width-sm) {
  padding: 0;
}
}

.reviews__slide img {
  box-shadow: 0 0 rem(20px) rgba($color: #2b2b2b, $alpha: 0.5);
@media(max-width: $width-sm) {
  box-shadow: none;
}
}

.reviews__slider .slick-slide {
  margin: 0 auto;
}

.reviews__dots {
  position: absolute;
  bottom: rem(15px);
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;

  font-size: 0;
  width: 100%;
  list-style: none;
@media(max-width: $width-sm) {
  bottom: 0;
}
}

.reviews__dots li {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 rem(10px);
  border: none;
  outline: none;
  cursor: pointer;
}



.reviews__dots li button {
  display: inline-block;
  vertical-align: middle;
  color: transparent;

  width: rem(10px);
  height: rem(12px);
  outline: none;
  background-color: #ffaabf;
  border: none;
  border-radius: 50%;
}

.reviews__dots li.slick-active button {
  width: rem(10px);
  height: rem(18px);
  border: rem(3px) solid #ffaabf;
  background-color: rgba($color: #ffaabf, $alpha: 0.3);
}

button::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

// END reviews

// START feedback
.feedback {
  padding: rem(93px) 0 rem(85px) 0;
  margin-bottom: rem(74px);

  background-color: #2b2b2b;
  background-image: url("../img/home/img-bg-feedback01@1x.png"),
    url("../img/home/img-bg-feedback02@1x.png");
  background-repeat: no-repeat;
  background-position: 2% bottom, 98% top;
  box-shadow: 0 rem(15px) rem(25px) rgba($color: #2b2b2b, $alpha: 0.8);

  @media(max-width: $width-xl) {
    padding: rem(50px) 0 rem(50px) 0;

    background-position: -30% bottom,
      120% top;
  }

  @media(max-width: $width-md) {
    background-image: none;
  }
@media(max-width: $width-sm) {
  padding: rem(25px) 0 rem(25px) 0;
  margin-bottom: rem(30px);

  box-shadow: 0 rem(5px) rem(15px) rgba($color: #2b2b2b, $alpha: 0.8);
}
}

.feedback__wrapper {
  text-align: center;
}

.feedback__title {
  color: rgba($color: #ffaabf, $alpha: 0.7);
  font-family: "PlayfairDisplaySC",
    Arial,
    sans-serif;
  font-size: rem(74px);
  font-weight: 400;
  line-height: rem(72px);
  letter-spacing: 0.04em;
@media(max-width: $width-xl) {
  font-size: rem(68px);
  line-height: rem(62px);
}

@media(max-width: $width-md) {
  font-size: rem(52px);
  line-height: rem(48px);
}

@media(max-width: $width-sm) {
  font-size: rem(36px);
  line-height: rem(30px);
}
}

.feedback__subtitle {
  margin-bottom: rem(30px);

  color: $white;
  font-family: "PlayfairDisplay", Arial, sans-serif;
  font-style: normal;
  font-size: rem(74px);
  font-weight: 700;
  line-height: rem(80px);
  letter-spacing: 0.04em;
@media(max-width: $width-xl) {
  font-size: rem(68px);
  line-height: rem(62px);
}

@media(max-width: $width-md) {
  font-size: rem(52px);
  line-height: rem(48px);
}

@media(max-width: $width-sm) {
  font-size: rem(36px);
  line-height: rem(30px);
}
}

.feedback__form {
  max-width: rem(800px);
  margin: 0 auto;
}

.feedback__form input[placeholder] {
  padding: rem(30px) 0 rem(22px) 0;

  background: transparent;
  text-align: center;
@media(max-width: $width-sm) {
  padding: rem(20px) 0 rem(10px) 0;
}
}

.feedback__form input::placeholder {
  color: $white;
}

.feedback__form input {
  margin-bottom: rem(10px);
  width: 100%;
}

.feedback__form input:focus,
.feedback__form input:active,
.feedback__form input {
  color: $white;
  text-align: left;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}

.feedback__row {
  display: flex;
  justify-content: space-between;
}

.feedback__row input {
  width: 45%;
}

.feedback__form input[type="checkbox"] {
  display: none;
}

.feedback__agreement {
  position: relative;
  padding-left: rem(40px);
  margin-top: rem(33px);
  margin-bottom: rem(45px);

  max-width: rem(470px);
  color: $white;
  line-height: rem(30px);
@media(max-width: $width-sm) {
  padding-left: rem(20px);
  margin-top: rem(15px);
  margin-bottom: rem(20px);

  max-width: none;

  font-size: rem(14px);
  line-height: normal;
}
}

.feedback__link {
  color: rgba($color: #ffaabf, $alpha: 0.7);
}

.feedback__link:hover {
  color: rgba($color: #ffaabf, $alpha: 1.0);
}

.feedback__agreement:hover {
  cursor: pointer;
}

.feedback__agreement::before {
  content: "";
  position: absolute;
  top: rem(6px);
  left: rem(-25px);
  height: rem(18px);
  width: rem(18px);

  background-color: transparent;
  border: rem(1.2px) solid rgba($color: $white, $alpha: 1.0);
@media(max-width: $width-sm) {
  left: 0;
  top: 0;
}
}

.feedback__form input[type="checkbox"]:checked+label::before {
  background-color: $white;
}

// END feedback