{% set title = "Главная" %}
{% include "../templates/header.njk" %}

<main class="home">
  <section class="intro">
    <div class="container">
      <div class="row intro__wrapper">
        <div class="intro__text col-12 col-xl-5">
          <h1 class="titles">Benvenuti</h1>
          <p class="titles titles__subtitle">nel&nbsp;nostro <span>mondo</span> </p>
          <p>
            Siamo due socie Diana ed Alina che hanno deciso di aprire un studio esclusivo che
            si concentra sul mondo delle extension e laminazione ciglia, insomma un mondo concentrato su uno
            dei
            nostri<br>
            punti più forti …gli OCCHI di tutti noi!
          </p>
          <div class="intro__feedback">
            <a class="button button__cursos" href="#">
              Nuestros cursos
            </a>
            <a class="button button__callback" href="tel:+393277590454">
              Llámame
            </a>
          </div>
        </div>
        <div class="intro__img col-12 col-xl-6">
          <img class="intro__bg-img" src="assets/img/home/img-home-intro01@1x.jpg" width="546" height="546" alt="intro">
        </div>
        </div>
    </div>
  </section>
  <section class="advantage">
    <div class="advantage__video col-12 col-lg-6">
      <div class="advantage__left">
        <ul>
          <li>
            <p>
              Sicurezza
            </p>
          </li>
          <li>
            <p>
              Fedeltà
            </p>
          </li>
          <li>
            <p>
              Comfort
            </p>
          </li>
        </ul>
        <p>Per aprire il Salone abbiamo studiato a lungo l’arte dell’extension ciglia sia all’estero
          che in Italia! Rispettivamente 10 e 6 anni, ma certamente non ci siamo fermate allo
          studio base delle varie tecniche, siamo in continuo aggiornamento su questo fantastico
          mondo con le Master delle extension ciglia di fama mondialee sulle novità di questa
          bellissima arte!</p>
        <div class="advantage__box">
          <a class="advantage__youtube" rel="nofollow" href="https://www.youtube.com/watch?v=8VsSmb7YSAg">Открыть
            видео Youtube</a>
        </div>
        </div>
        </div>
        <div class="advantage__content col-12 col-lg-6">
          <div class="advantage__right">
            <div class="advantage__question">
              <p>
                Ventajas
              </p>
              <h2>
                Perchè scegliere Noi?
              </h2>
              <p>
                Nella nostra sezione dei corsi troverete moltissime possibilità di imparare le varie tecniche nel
                mondo
                dell’extension ciglia! Venite a scoprire i nostri corsi e scegliere quello che fa meglio a caso
                Vostro!
              </p>
              <a class="button button__cursos" href="#">
                Nuestros cursos
              </a>
            </div>
            <div>
              <p>
                Un pò di più su
              </p>
              <h2>
                di NOI...
              </h2>
              <p>
                Ci sono moltissimi motivi per cui dovreste provare il nostro salone,
                ad esempio cerchiamo di accentuare la perfezione che si trova nello
                sguardo di una donna, attraverso i nostri trattamenti, curando sempre
                nei minimi dettagli il nostro lavoro dall'inizio alla fine.
              </p>
            </div>
      </div>
    </div>
  </section>
  <section>

  </section>

</main>


{% include "../templates/footer.njk" %}