{% set title = "Home page" %}
{% include "../templates/header.njk" %}
<main class="home">
  <section class="intro">
    <div class="container">
      <div class="row intro__wrapper">
        <div class="intro__text col-12 col-xl-6">
          <h1 class="titles">Benvenuti</h1>
          <p class="titles titles__subtitle">nel&nbsp;nostro <span>mondo</span> </p>
          <p class="intro__description">
            Siamo due socie Diana ed Alina che hanno deciso di aprire un studio esclusivo che
            si concentra sul mondo delle extension e laminazione ciglia, insomma un mondo concentrato su uno dei nostri
            punti più
            forti …gli OCCHI di tutti noi!
          </p>
          <div class="intro__feedback">
            <form action="#" method="POST">
              <button class="button button__cursos" type="submit">
                Nuestros cursos
              </button>
            </form>
            <a class="button button__callback" href="tel:+393277590454">
              Llámame
            </a>
          </div>
        </div>
        <div class="intro__img col-12 col-xl-6">
          <img class="intro__bg-img" src="assets/img/home/img-home-intro01@1x.jpg" width="546" height="546" alt="intro">
        </div>
      </div>
    </div>
  </section>
  <section class="advantage">
    <div class="advantage__video">
      <div class="advantage__colwrapper advantage__colwrapper--black">
        <ul class="advantage__list">
          <li class="advantage__item">
            Sicurezza
          </li>
          <li class="advantage__item">
            Fedeltà
          </li>
          <li class="advantage__item">
            Comfort
          </li>
        </ul>
        <p class="advantage__text">Per aprire il Salone abbiamo studiato a lungo l’arte dell’extension ciglia sia
          all’estero
          che in Italia! Rispettivamente 10 e 6 anni, ma certamente non ci siamo fermate allo
          studio base delle varie tecniche, siamo in continuo aggiornamento su questo fantastico
          mondo con le Master delle extension ciglia di fama mondialee sulle novità di questa
          bellissima arte!</p>
        <div class="videobox">
          <!-- <img src="assets/img/home/poster-advantage01.jpg" alt="" width="586" height="366"> -->
          <a class="videobox__youtube" rel="nofollow" href="https://www.youtube.com/watch?v=8VsSmb7YSAg">
            <span class="videobox-button">start</span>
          </a>
        </div>
      </div>
    </div>
    <div class="advantage__content">
      <div class="advantage__colwrapper">
        <div class="advantage__coltop">
          <p class="advantage__subtitle">
            Ventajas
          </p>
          <h2 class="advantage__titles advantage__titles--type1">
            Perchè scegliere Noi?
          </h2>
          <p class="advantage__text">
            Nella nostra sezione dei corsi troverete moltissime possibilità di imparare le varie tecniche nel
            mondo
            dell’extension ciglia! Venite a scoprire i nostri corsi e scegliere quello che <br>fa meglio a caso
            Vostro!
          </p>
          <form class="advantage__form" action="#" method="POST">
            <button class="button button__cursos" type="submit">Nuestros cursos</button>
          </form>
        </div>
      </div>
      <div class="advantage__colwrapper advantage__colwrapper--white">
        <div class="advantage__discr">
          <p class="advantage__subtitle">
            Un pò di più su
          </p>
          <h2 class="titles titles--advantage">
            <span>di</span> NOI...
          </h2>
          <p>
            Ci sono moltissimi motivi per cui dovreste provare il nostro salone,
            ad esempio cerchiamo di accentuare la perfezione che si trova nello
            sguardo di una donna, attraverso i nostri trattamenti, curando sempre
            nei minimi dettagli il nostro lavoro dall'inizio alla fine.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="info">
    <div class="container info__wrapper">
      <ul class="info__list">
        <li class="info__item">
          <img class="info__img" src="assets/img/home/img-home-info01.jpg" alt="servizio" width="421" height="604">
          <div class="info__inner">
            <h2 class="info__title">Corsi</h2>
            <h3 class="info__subtitle">extension ciglia</h3>
            <p class="info__text">Nella nostra sezione dei corsi troverete moltissime possibilità di imparare le varie
              tecniche nel mondo
              dell’extension
              ciglia!</p>
          </div>
          <form class="info__form" action="#" method="POST">
            <button class="button button__cursos button__cursos--width" type="submit">
              Frequentare corsi
            </button>
          </form>
        </li>
        <li class="info__item">
          <img class="info__img" src="assets/img/home/img-home-info02.jpg" alt="servizio" width="421" height="604">
          <div class="info__inner">
            <h2 class="info__title">Salone</h2>
            <h3 class="info__subtitle">per<br>tutti</h3>
            <p class="info__text">Venite a scoprire il nostro salone dove ogni giorno soddisfiamo clienti, prendendoci
              cura di loro e dei magnifici
              sguardi.</p>
          </div>
          <form class="info__form" action="#" method="POST">
            <button class="button button__cursos" type="submit">
              Vai al salone
            </button>
          </form>
        </li>
        <li class="info__item">
          <img class="info__img" src="assets/img/home/img-home-info03.jpg" alt="servizio" width="421" height="604">
          <div class="info__inner">
            <h2 class="info__title">Shop</h2>
            <h3 class="info__subtitle">migliori materiali</h3>
            <p class="info__text">Venite a scoprire il nostro salone dove ogni giorno soddisfiamo clienti, prendendoci
              cura di loro e dei magnifici
              sguardi.</p>
          </div>
          <form class="info__form" action="#" method="POST">
            <button class="button button__cursos" type="submit">
              Andare al negozio
            </button>
          </form>
        </li>
      </ul>
    </div>
  </section>
  <section class="salon">
    <div class="salon__slider">
      <div class="salon__slide">
        <img class="salon__img salon__img--shadow" src="assets/img/home/img-home-salon01.jpg" alt="about us" width="266"
          height="266">
        <img class="salon__img" src="assets/img/home/img-home-salon02.jpg" alt="about us" width="266" height="266">
      </div>
      <div class="salon__slide">
        <img class="salon__img" src="assets/img/home/img-home-salon03.jpg" alt="about us" width="266" height="266">
        <img class="salon__img salon__img--shadow" src="assets/img/home/img-home-salon04.jpg" alt="about us" width="266"
          height="266">
      </div>
      <div class="salon__slide">
        <img class="salon__img salon__img--shadow" src="assets/img/home/img-home-salon01.jpg" alt="about us" width="266"
          height="266">
        <img class="salon__img" src="assets/img/home/img-home-salon02.jpg" alt="about us" width="266"
          height="266">
      </div>
      <div class="salon__slide">
        <img class="salon__img" src="assets/img/home/img-home-salon03.jpg" alt="about us" width="266" height="266">
        <img class="salon__img salon__img--shadow" src="assets/img/home/img-home-salon02.jpg" alt="about us" width="266"
          height="266">
      </div>
      <div class="salon__slide">
        <img class="salon__img salon__img--shadow" src="assets/img/home/img-home-salon01.jpg" alt="about us" width="266"
          height="266">
        <img class="salon__img" src="assets/img/home/img-home-salon03.jpg" alt="about us" width="266" height="266">
      </div>
      <div class="salon__slide">
        <img class="salon__img" src="assets/img/home/img-home-salon03.jpg" alt="about us" width="266" height="266">
        <img class="salon__img salon__img--shadow" src="assets/img/home/img-home-salon02.jpg" alt="about us" width="266"
          height="266">
      </div>
    </div>
    <button class="slick-prev">prev
      <svg width="10" height="21" viewBox="0 0 10 21" fill="none">
        <path
          d="M5.424.576a.6.6 0 00-.848 0L.757 4.394a.6.6 0 00.849.849L5 1.849l3.394 3.394a.6.6 0 10.849-.849L5.424.576zM5.6 21V1H4.4v20h1.2z"
          fill="#FFAABF" fill-opacity="0.7" />
      </svg>
    </button>
    <button class="slick-next">next
      <svg width="10" height="21" viewBox="0 0 10 21" fill="none">
        <path
          d="M4.576 20.424a.6.6 0 00.848 0l3.819-3.818a.6.6 0 10-.849-.849L5 19.151l-3.394-3.394a.6.6 0 10-.849.849l3.819 3.818zM4.4 0v20h1.2V0H4.4z"
          fill="#FFAABF" fill-opacity=".7" />
      </svg>
    </button>
    <div class="salon__content">
      <h2 class="salon__title">Com'è il nostro</h2>
      <h3 class="salon__subtitle">Salone?</h3>
      <div class="salon__text">
        <p class="salon__textblock">
          Ci abbiamo messo il cuore per creare un ambiente accogliente,
          simpatico e unico... Appena entrerete vi sentirete come a casa vostra..
        </p>
        <p class="salon__textblock">
          Siete importanti per noi, e quindi ci diamo sempre del nostro meglio
          per garantirvi un esperienza sicura e piacevole
        </p>
        <form action="#" method="POST">
          <button class="button button__cursos button__cursos--white" type="submit">
            Vai al salone
          </button>
        </form>
      </div>
    </div>
  </section>
  <section class="reviews">
    <div class="container">
      <div class="reviews__wrapper">
        <div class="reviews__text">
          <h3 class="reviews__subtitle">Cosa dicono</h3>
          <h2 class="titles titles--reviews">di Noi?</h2>
          <p class="reviews__textblock">
            Le recensioni delle nostre ospiti sono di grande valore per noi..<br>
            Ci sono voluti tanti anni per guadagnarci la vostra fiducia<br>e fedeltà,
            e ve ne siamo immensamente grate!
          </p>
          <p class="reviews__textblock">
            Per chi non ci conoscesse ancora Vi invitiamo<br>a guardare queste
            video testimonianze!
          </p>
        </div>
        <div class="reviews__video">
          <div class="reviews__slider">
            <div class="reviews__slide">
              <img src="assets/img/home/poster-reviews01.jpg" alt="" width="632" height="366">
              <a class="videobox-button" rel="nofollow" href="https://www.youtube.com/watch?v=8VsSmb7YSAg">start
              </a>
            </div>
            <div class="reviews__slide">
              <img src="assets/img/home/poster-reviews01.jpg" alt="" width="632" height="366">
              <a class="videobox-button" rel="nofollow" href="https://www.youtube.com/watch?v=8VsSmb7YSAg">start
              </a>
            </div>
            <div class="reviews__slide">
              <img src="assets/img/home/poster-reviews01.jpg" alt="" width="632" height="366">
              <a class="videobox-button" rel="nofollow" href="https://www.youtube.com/watch?v=8VsSmb7YSAg">start
              </a>
            </div>
            <div class="reviews__slide">
              <img src="assets/img/home/poster-reviews01.jpg" alt="" width="632" height="366">
              <a class="videobox-button" rel="nofollow" href="https://www.youtube.com/watch?v=8VsSmb7YSAg">start
              </a>
            </div>
            <div class="reviews__slide">
              <img src="assets/img/home/poster-reviews01.jpg" alt="" width="632" height="366">
              <a class="videobox-button" rel="nofollow" href="https://www.youtube.com/watch?v=8VsSmb7YSAg">start
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="feedback">
    <div class="container feedback__wrapper">
      <h2 class="feedback__title">Avete delle domande?</h2>
      <h3 class="feedback__subtitle">Scriveteci</h3>
      <form class="feedback__form" action="#" method="POST">
        <input class="feedback__name" type="text" placeholder="Nome & Cognome*" required>
        <div class="feedback__row">
          <input class="feedback__tel" type="tel" placeholder="Telefono*" required>
          <input class="feedback__email" type="email" placeholder="E-mail">
        </div>
        <input class="feedback__message" type="text" placeholder="Messaggio">
        <div>
          <input type="checkbox" id="agreement" checked
            onchange="document.getElementById('button-submit').disabled = !this.checked;">
          <label class="feedback__agreement" for="agreement">
            Confermo di aver letto le <a class="feedback__link" href="#">condizioni d'uso
              norme sul trattamento dei dati personali</a>
          </label>
        </div>
        <button class="button button__feedback" type="submit" id="button-submit">Invia</button>
      </form>
    </div>
  </section>
</main>
{% include "../templates/footer.njk" %}